.dashboard {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.dashboard > .page-content {
    min-width: 50%;
    padding-bottom: 3rem;
}
.dashboard .item-container {
    padding: 1rem;
    display: flex;
    flex-flow: column;
}
.dashboard h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: var(--color-primary);
}
.dashboard h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: var(--color-primary);
    margin: 1rem 0;
}